cmake
gym[atari]
atari-py
opencv-python
tensorflow_probability==0.11.0
absl-py==0.10
google
protobuf==3.20.1
tensorflow==2.4.1
#typing_extensions==4.0
wandb
Cython
cffi
lockfile
glfw
imageio
dataclasses
gin-config
#numpy==1.19.5
#matplotlib
#transformers

